<!doctype html>
<html>
  <head>
  </head>
  <body>
    <h1>Hey {{ username }}! Here's your challenge. You have {{ tries }} tries left.</h1>

    <div class ="container">
    <span>{{ underscores }}</span>
    </div>

    <form method="post" action="/guess">
      <input type="text" name="guess" placeholder="Guess here!">
      <input type="submit" value="Make a guess!">
    </form>


<!-- SIMILAR TO MESSAGES FROM TWEETERCLONE -->
    <h3>List of guesses:</h3>
    <ol>
      {{ #guessedLetters }}
      <li>
        <span>{{ guesses }}</span>
      </li>
      {{ /guessedLetters }}
    </ol>

    <h3>Current score: {{ score }}</h3>

  </body>
</html>
