<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Just+Another+Hand|Patrick+Hand+SC" rel="stylesheet">
</head>
<body class="mainpage-body">
  <h1 class="mainpage-text">Hey {{ username }}! Here's your challenge. You have {{ tries }} tries left.</h1>

  <div class ="underscores">
    {{ #underscores }}
      <span>{{ . }}</span>
    {{ /underscores }}
  </div>

  <form method="post" action="/guess">
    <input type="text" name="guess" placeholder="Guess here!" class="guess-box">
    <input type="submit" value="Make a guess!" class="guess-btn">
  </form>


<!-- SIMILAR TO MESSAGES FROM TWEETERCLONE -->
  <h3 class="guess-list">What you've guessed so far....</h3>
  <ul>
    {{ #guessedLetters }}
    <li class="guess-list">
      <span class="list">{{ guesses }}</span>
    </li>
    {{ /guessedLetters }}
  </ul>

  <h3 class="current-score">Current score: {{ score }}</h3>

</body>
</html>
