<!doctype html>
<html>
  <head>
  </head>
  <body>
    <h1>Welcome to The Vünderfül Game of Hängmannen! Please enter your preferred battlename and level.</h1>

    <form method="post" action="/start">
      <input type="text" name="newUsername" placeholder="Enter your battlename">
      <select>
        <option name="easy" value="easy">Easy (4-6 char)</option>
        <option name="easy" value="medium">Medium (6-8 char)</option>
        <option name="easy" value="hard">Hard (8+ char)</option>
      </select>
      <input type="submit" value="Let's play!">
    </form>

  </body>
</html>
