<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Just+Another+Hand|Patrick+Hand+SC" rel="stylesheet">
</head>
<body class="youwin-body">
  <h1 class="youwin-text">YOU WIN! Your score: {{ score }}.</h1>

  <table>
    {{ #scoreboard }}
      <tr>
        <th class="table">{{ username }}</th>
        <th class="table">{{ score }}</th>
      </tr>
    {{ /scoreboard }}
  <table>

  <form method="post" action="/">
    <input type="submit" value="Play again!" class="btn">
  </form>

</body>
</html>
