<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Just+Another+Hand|Patrick+Hand+SC" rel="stylesheet">
</head>
<body class="youwin-body">
  <h1 class="youwin-text">YOU WIN! Your score: {{ score }}.</h1>

  <table>
      <tr>
        <th class="table">Battlename</th>
        <th class="table">Score</th>
      </tr>
      <tr>
      {{ #username }}
        <td class="table">{{ username }}</td>
      {{ /username }}
      {{ #score }}
      <td class="table">{{ score }}</td>
      {{ /score }}
      </tr>
  </table>

  <form method="post" action="/">
    <input type="submit" value="Play again!" class="btn">
  </form>

</body>
</html>
