<!doctype html>
<html>
  <head>
  </head>
  <body>
    <h1>YOU WIN! Your score: {{ score }}.</h1>

    <table>
      {{ #scoreboard }}
        <th>
          <tr>{{ username }}</tr>
        </th>
        <td>
          <tr>{{ score }}</tr>
        </td>
      {{ /scoreboard }}

    <table>

    <form method="post" action="/">
      <input type="submit" value="Play again!">
    </form>

  </body>
</html>
